amqp==5.0.2
asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
billiard==3.6.3.0
certifi==2020.12.5
chardet==4.0.0
clearbit==0.1.7
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
Django==3.1.5
django-filter==2.4.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.5.0
idna==2.10
importlib-metadata==3.4.0
iniconfig==1.1.1
isort==5.7.0
kombu==5.0.2
packaging==20.8
pluggy==0.13.1
prompt-toolkit==3.0.10
py==1.10.0
pyhunter==1.7
PyJWT==1.7.1
pyparsing==2.4.7
pytest==6.2.1
pytest-django==4.1.0
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
requests-jwt==0.5.3
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.2
vine==5.0.0
wcwidth==0.2.5
zipp==3.4.0
